@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    background-color: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #28292D;
}

a {
    text-decoration: none;
    color: #28292D;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    text-align: justify;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* header */
header nav {
    display: flex;
    padding: 0 130px;
    border: 1px solid #E5E5E5;
    border-width: 1px 0;
}

header nav a:nth-child(1) {
    border-left: 1px solid #E5E5E5;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-right: 1px solid #E5E5E5;
    width: calc(100% / 6);
    padding: 0px 15px;
    gap: 15px;
    white-space: nowrap;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 250px;
    height: 30px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 130px;
}

.header-info .item {
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 30px;
}

.phone,
.city {
    display: flex;
    flex-direction: column;
}

.header-info span {
    font-weight: 300;
    font-size: 14px;
}

.phone a {
    font-size: 24px;
}

.phone span {
    text-align: end;
}

#order {
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    background: #FFFFFF;
    border: 1px solid #28292D;
}



/* main */
main {
    padding: 50px 130px 90px;
    display: flex;
    gap: 90px;
    flex-direction: column;
}

main > div:nth-child(2) {
    margin-top: -40px;
}

/* path */
.path {
    display: flex;
    gap: 15px;
    align-items: center;
}

.path i {
    color: #D0D0D0;
}

.path a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.path a:not(:last-child) {
    color: #F39B14;
    font-weight: 400;
}


/* products */

.products h1 {
    margin: 0 0 30px 0;
}

.products .product-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.products .content {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.products .category nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products .category nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #919191;
    border: 1px solid #E5E5E5;
}

.products .category nav .active {
    color: #F39B14;
    border: 1px solid #F39B14;
}

.products .items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.products .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 365px;
}

.products .item img {
    width: 330px;
    height: 140px;
}

.products .item .description {
    font-size: 12px;
    line-height: 180%;
    text-align: center;
}

.products .item .name:hover {
    color: #F39B14;
}

.products .item .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 0 17px 0;
}

.products .item .price {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0 20px 0;
}

.products .item .buy {
    width: 150px;
    height: 45px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    background: #FFFFFF;
    border: 1px solid #28292D;
}

.products .item .buy:hover {
    color: #FFFFFF;
    background: #28292D;
}


/* category-description */
.category-description img {
    float: left;
    margin: 0 30px 30px 0;
    width: 570px;
    height: 300px;
}


/* about */

.about .items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}

.about .items img {
    width: 80px;
    height: 80px;
}

.about .items p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #7E7E7E;
}

.about .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}



/* footer */

footer {
    border-top: 2px solid #28292D;
    margin: 0 130px;
    padding: 30px 0 15px 0;
}

footer .items {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

footer .item p {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
}

footer .item {
    display: flex;
    flex-direction: column;
    width: 330px;
}

footer .item p:last-child {
    color: #C0C0C0;
    line-height: 240%;
}

footer .item:nth-child(2) {
    flex-direction: row;
    align-items: center;
    gap: 80px;
    width: 450px;
    line-height: 240%;
}

footer .item:last-child {
    gap: 18px;
}

footer .item nav {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    line-height: 250%;
}

footer .item .phone a {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
}

footer .item .phone span {
    font-weight: 600;
    font-size: 14px;
    line-height: 34px;
    text-align: right;
    color: #C0C0C0;
}

footer .item .city {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}

footer .item .mail {
    font-weight: 600;
    font-size: 14px;
    line-height: 34px;
    text-align: right;
    color: #F39B14;
}



/* product */

.product {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.product .images img {
    width: 570px;
    height: 440px;
}

.product .images .slider {
    display: flex;
    align-items: center;
    gap: 25px;
}

.product .images .slider img {
    width: 150px;
    height: 150px;
}

.product .description {
    text-align: start;
}

.product .description .buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 65px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: linear-gradient(0deg, #28292D, #28292D), linear-gradient(95.94deg, #F19217 17.38%, #EA611B 105.13%);
    margin-top: 35px;
}

.product .description .buy:active {
    background: #FFFFFF;
    color: #28292D;
}

.product .description .price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.product .description h3 {
    margin-bottom: 0;
}

.product .description h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
}


/* product-info */
.product-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.product-info .info-image {
    display: flex;
    justify-content: center;
}

.product-info img {
    width: 690px;
    height: 298px;
}

.product-info a:first-child {
    margin-right: 80px;
}

.product-info a {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #C5C5C5;
}

.product-info .active {
    color: #28292D;
}


/* feedback */
.feedback {
    background: url("./img/Mask.svg") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 400px;
    color: #FFFFFF;
}

.feedback form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.feedback .fields {
    display: flex;
    gap: 30px;
}

.feedback .field {
    width: 320px;
    height: 55px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: inherit;
    padding-left: 30px;
}

.feedback .field::placeholder {
    color: #FFFFFF;
}

.feedback button {
    width: 360px;
    height: 60px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.feedback .checkbox {
    display: flex;
}

.feedback .checkbox label {
    text-align: start;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
}

.feedback input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid #DEDEDE;
    appearance: none;
    margin: 1px 10px 0px 0;
}

.feedback input[type="checkbox"]:checked {
    color: #F39B14;

}

.feedback input[type="checkbox"]:checked::after {
    position: relative;
    content: '\2713';
    bottom: 3px;
    left: 1px;
}


/* also buy */
.also-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.also-buy .content {
    flex-grow: 1;
    width: 100%;
}

.also-buy .fa-angle-left {
    position: absolute;
    left: 65px;
}

.also-buy .fa-angle-right {
    position: absolute;
    right: 65px;
}

.also-buy .items {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.also-buy .item {
    width: 330px;
    height: 430px;
}

.also-buy .item img {
    width: 330px;
    height: 210px;
}

.also-buy .item h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.also-buy .item p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.also-buy .item .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.also-buy .item .line button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    background: #FFFFFF;
    border: 1px solid #28292D;
}

.also-buy .item .line button:hover {
    color: #FFFFFF;
    background: #28292D;
}

.also-buy .item .price {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.also-buy #show-catalog {
    width: 270px;
    height: 45px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    background: #FFFFFF;
    border: 1px solid #28292D;
    margin-top: 70px;
}

.also-buy #show-catalog:hover {
    color: #FFFFFF;
    background: #28292D;
}