@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf2f6;
}

.color-light {
    color: #8a95a5;
}

.upper {
    text-transform: uppercase;
}


/* topnav */
.topnav {
    display: flex;
    border-bottom: 1px solid rgb(229, 231, 234);
    font-size: 18px;
    background-color: #fff;
}

.topnav a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.topnav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-right: 1px solid rgb(229, 231, 234);
}

.topnav-item:hover {
    background-color: rgb(21, 164, 250);
    color: #fff;
}

.topnav-item span {
    cursor: pointer;
    font-weight: bold;
}



/* sidenav */
#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #354052;
    transition: 0.5s;
    overflow-x: hidden;
    color: #a0abbf;
}

#sidenav a {
    padding: 8px;
    text-decoration: none;
    color: #a0abbf;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    right: 0;
    font-size: 36px;
}

main {
    transition: margin-left .5s;
}

.sidenav-item {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
    font-weight: 700;
}

.sidenav-item ul {
    margin: 0;
    padding: 0;
}

.sidenav-item li {
    padding: 10px 30px;
    list-style: none;
    margin: 0;
    white-space: nowrap;
}

.sidenav-item li i {
    width: 25px;
}

.sidenav-item li.active {
    border-left: 4px solid #15a4fa;
    background-color: #2f3949;
    color: #fff;
}

.sidenav-item li:hover {
    background-color: #2f3949;
    color: #fff;
}

.sidenav-item.user {
    align-items: center;
}

.sidenav-item:not(:last-child) {
    border-bottom: 1px solid #293241;
}

.sidenav-item .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: lightgray;
    margin-bottom: 10px;
}

.sidenav-title {
    padding: 0px 30px;
    color: #65748d;
}



/* search */
.search-form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.search-form input:focus {
    outline: 0;
}

.search-field {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-right: 1px solid rgb(229, 231, 234);
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0px 0px 0px 15px;
    font-size: 18px;
}


/* info block */

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    padding: 40px;
}

#info-title {
    font-size: 1.8em;
    font-weight: 400;
}

.info-block {
    border-bottom: 1px #d8dfe5 solid;
    background-color: #fff;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-text a {
    color: #15a4fa;
    text-decoration: none;
}

.mini-circle {
    background: green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.info-operation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-item:first-child {
    width: 100px;
    border-radius: 20px;
}

.info-item {
    height: 40px;
    width: 40px;
    display: flex;
    border: 1px #d8dfe5 solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.info-item:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

.info-item:active {
    background-color: rgba(211, 211, 211, 1);
}

.info-nav {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.info-nav-item {
    margin-left: 40px;
    padding: 20px 0;
}

.info-nav-item.active {
    border-bottom: 4px solid #15a4fa;
    color: black;
}

.info-nav-item:hover {
    color: #354052;
}

.info-nav a {
    color: #8a95a5;
    text-align: center;
    text-decoration: none;
}

/* content */

.content {
    padding: 40px;
}


/* charts */

.content-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px #d8dfe5 solid;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}

.gistogram {
    width: 350px;
    height: 150px;
    border: 1px #d8dfe5 solid;
}

.single-chart {
    width: 140px;
}

.circle-bg {
    fill: none;
    stroke: #d9e4eb;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.circular-chart {
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: 700;
}

.circle-data {
    fill: #596679;
    font-size: 0.3em;
}

.circle-title {
    fill: #8a95a5;
    font-size: 0.2em;
    text-transform: uppercase;
}



/* description & links */

.content-dual {
    display: flex;
    gap: 40px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.links .social {
    width: 250px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.facebook {
    background-color: #4d74c4;
}

.facebook:active {
    background-color: #426ec0;
}

.twitter {
    background-color: #00aaef;
}

.twitter:active {
    background-color: #426ec0;
}

.linkedin {
    background-color: #0384be;
}

.linkedin:active {
    background-color: #426ec0;
}

table {
    border-collapse: collapse;
}

@media (max-width: 979px) {
    .content-dual {
        flex-wrap: wrap;
    }
}

table thead {
    background-color: #6f7d95;
    color: #fff;
}

table tbody {
    background-color: #fff;
    color: #78889f;
}

table tr {
    border-bottom: 2px #eef2f5 solid;
}

table th {
    width: 160px;
    height: 70px;
    text-align: left;
    padding-left: 30px;
    text-transform: uppercase;
}

.table-edit {
    padding: 5px 20px;
    color: #fff;
    font-weight: 700;
    background-color: #7c8ba6;
    border-radius: 2px;
    border: none;
}

.table-edit:hover {
    background-color: #7888a3;
}

.table-edit:active {
    background-color: #7f8ea7;
}

table td {
    padding: 30px;
}


.copy-block {
    width: 250px;
}

.links .copy-block h2 {
    color: #596679;
}

.links .copy-block p {
    color: #818b9a;
}

.copy-block:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: 1px #d8dfe5 solid;
}

.copy-link {
    display: flex;
    width: 250px;
}

.copy-link input {
    padding: 0 10px;
    border: none;
    flex-grow: 1;
}

.copy-link button {
    background-color: #47bac1;
    height: 40px;
    color: #fff;
    border: none;
    padding: 0px 10px;
}

.copy-link button:active {
    background: #cccccc;
}

.copy-link input:focus {
    outline: 0;
}